<% content_for :title, "#{@listing.address} #{@listing.town.long} #{@listing.town.state}" %>
<img src="/assets/wood.png" style="display: none"/>
<div class="container" id="main-listing">
    <div class="row">
        <div class="span5">
            <div class="column-left" id="thumbnail-column">
                <h2><%= @listing.photo_count %> Photos <small>Click to Enlarge</small></h2>
                <div id="single-tiles">
                <div class="progress progress-success progress-striped"> <div class="bar" style="width: 0%;"></div></div>
                <% for i in  0 .. @listing.photo_count - 1%>
                    <div class="single-tile" data-photo-id=<%= i %> >
                        <img src="/listings/photo/<%= @listing.list_no %>/<%=i%>" data-mls=<%= @listing.list_no %> class="single-thumbnail"/>
                    </div>
                <% end %>
                </div>
            </div>
        </div>
        <div class="span7">
            <div class="column-inner">
                <h2><%= @listing.address %> <small><%= @listing.town.long %>, <%= @listing.town.state %></small></h2>
                <div id="the-carousel" class="carousel slide">
                    <div class="carousel-inner">
                    <% for i in  0 .. @listing.photo_count - 1%>

                        <% if i == 0 %>
                        <div class="item active" data-photo-id=<%= i %>>
                        <% else %>
                        <div class="item" data-photo-id=<%= i %>>
                        <% end %>
                            <img src="/listings/photo/<%= @listing.list_no %>/<%=i%>" data-mls=<%= @listing.list_no %> />
                        </div>
                    <% end %>
                    </div>
                    <a class="carousel-control left" href="#the-carousel" data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right" href="#the-carousel" data-slide="next">&rsaquo;</a>
                </div>
                <table class="table table-striped">
                    <tr>
                        <th>Price:</th>
                        <th><%= @listing.list_price_currency %></th>
                    </tr>
                    <tr>
                        <td>Bedrooms:</td>
                        <td><%= @listing.no_bedrooms %></td>
                    </tr>
                    <tr>
                        <td>Bathrooms:</td>
                        <td><%= @listing.total_baths %></td>
                    </tr>
                    <tr>
                        <td>Property Type:</td>
                        <td><%= @listing.prop_type %></td>
                    </tr>
                    <tr>
                        <td>Square Feet:</td>
                        <td><%= @listing.square_feet_delimited %></td>
                    </tr>
                    <tr>
                        <td>Lot Size:</td>
                        <td><%= number_with_precision @listing.acre, :precision => 2 %> Acre</td>
                    </tr>
                    <tr>
                        <td>Basement:</td>
                        <td><%= @listing.human_basement %></td>
                    </tr>
                    <tr>
                        <td>Garage Spaces:</td>
                        <td><%= @listing.garage_spaces %></td>
                    </tr>
                    <tr>
                        <td>Zip Code:</td>
                        <td><%= @listing.zip_code%></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>



